<% content_for :title do %><% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="linkedin" data-view="LinkedinProfile" data-name="Erran Carey" data-title="Software Development Engineer, in Test at Rapid7" data-image="http://www.gravatar.com/avatar/3915eeaee91d96525e3e4e0fcdf93343.png?size=200" data-updated-at="1234"></div>
    </li>
  </ul>
</div>
