<% content_for :title do %><% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="linkedin" data-view="LinkedinProfile" data-name="John Doe" data-title="Janitor at Acme Corporation" data-image="http://www.johndoe.pro/img/John_Doe.jpg"></div>
    </li>
  </ul>
</div>
